.conteiner {
    display: flex;
    height: auto;
    padding:40px;  
    background-color: var(--cinza-claro);
    flex-direction: column;
    border-radius: 10px;
    margin-top: 30px; 
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; /* Ajuste o tamanho da fonte conforme necess치rio */
    
}

h1 {
    color: var(--roxo-claro);
    align-self: center;
    color:var(--roxo-claro);
    font-family: 'Raleway', sans-serif;
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necess치rio */
}

.botao {
    background-color: var(--roxo-escuro);
    color: var(--cinza-claro);
    padding: 10px;
    border-radius: 8px;
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; /* Ajuste o tamanho da fonte conforme necess치rio */
}
.formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--bege);
    padding: 30px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; /* Ajuste o tamanho da fonte conforme necess치rio */
}